canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes example {
    from {
        box-shadow: 5px 5px 18px #7e7771;
    }

    to {
        box-shadow: 5px 5px 18px #7e7771;
    }


}